<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div class="header">
			<div class="mat-display-4">HN Feed</div>
			<div class="mat-headline">We ♥ Hackers News !</div>
		</div>

		<div class="list">
			<mat-list role="list" *ngFor="let item of _data">
				<mat-list-item class="row" role="listitem" (click)="openLink(item.url)">
					<div>{{ item.title }}</div>
					<div class="author">- {{ item.author }} -</div>
					<div class="created-at">{{ item.created_at | amCalendar }}</div>
					<div class="delete-btn">
						<button mat-icon-button (click)="deleteArticle($event, item._id)">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</mat-list-item>
			</mat-list>
		</div>
	</body>
</html>

<router-outlet></router-outlet>
