@import '_colors.scss';

body {
	background-color: white;
}

.header {
	padding: 4em;
	background-color: $primary;
	color: white;
}

.list {
	padding: 2em 4em 2em 4em;

	.row {
		background-color: #fff;
		border-bottom: 1px solid #ccc;

		.author {
			padding-left: 10px;
			color: #999;
		}

		.created-at {
			position: absolute;
			right: 10%;
			color: #ccc;
			font-size: 13px;
		}

		.delete-btn {
			display: none;
			position: absolute;
			right: 10px;
		}
	}

	:hover {
		background-color: #fafafa;
	}

	:hover .delete-btn {
		display: block;
	}
}
